.container-up/*顶级容器*/
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 10px;
    height: 110px;
    width: 1700px;
    font-size:small;
    /* border: 1px solid red; */
}
/* 次级1 */
.container-1
{
    height: 60px;
    display: flex;
    /* border: 1px solid red; */
}
/* 次级二 */
.container-2
{
    height: 50px;
    margin-left: 320px;
    /* border: 1px solid black; */
    display: flex;
}
.main-nav-tabs
{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0;
    /* border:1px solid red; */
}
.nav-item
{
    margin: 10px;
}

/* 列表元素 */
.container-up li
{
    list-style: none;    /*去掉小圆点*/
    float: left;
    width: 55px;
    /* border: 1px solid green; */
    padding:3px;
}
.logo{
    padding-top: 15px;
}
.logo img{
    display: inline-block;
    height: 25px;
    /* border: 1px solid red; */
    margin-left: 130px;
}
/* 悬停时 */
/* 单页切换提示 */
.container-up .main-nav-tabs li:hover
{
    border-bottom:3px solid #4a71b6;
    font-weight: bold;
}
.container-up .sub-nav-tabs li:hover
{
    color: #5291cd;
}

.search-btn
{
    width: 300px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    /* border: 1px solid red; */
}
.search-box
{
    display: flex;
    margin-top: 10px;
    margin-left: 120px;
    height: 20px;
    width: 500px;
    /* border: 1px solid red; */
   transition: all 0.3s ease-in-out;
}
.search-btn:focus
{
    width:440px;
    border-color: #4a71b6;
}
.search-icon
{
    /* border: 1px solid red; */
    height: 25px;
    background-color: #f4f5f5;
    margin-top: 3px;
}
/* 上面的列表 */
