
/* 上面的列表 */
.main-nav-tabs
{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
}
/* 下面的列表 */
.sub-nav-tabs
{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    white-space: nowrap;
    justify-content: space-evenly;
}
/* 列表元素 */
.container-up li
{
    list-style: none;    /*去掉小圆点*/
    float: left;
    /* margin-left: 10px; */
    width: 55px;
    height: 50px;
}
.sub-nav-tabs li{
    width: 70px;

}
.container-up
{
    /* display: flex;
    flex-direction: column; */
    display: flex;
    background-color: rgb(253, 255, 237);
    margin-bottom: 10px;
    height: 110px;

    width: 1700px;
}
.logo img{
    display: inline-block;
    height: 20px;
    border: 1px solid red;
    padding: 0;
    margin: 0;
}
/* 悬停时 */
/* 单页切换提示 */
.container-up .main-nav-tabs li:hover
{
    border-bottom:2px solid #4a71b6;
    font-weight: bold;
}
.container-up .sub-nav-tabs li:hover
{
    color: #5291cd;
}
