ul
{
    width: 2000px;
    overflow: hidden;
    white-space: nowrap;
}

li
{
    list-style: none;
    float: left;
    margin-left: 10px;
    width: 80px;
}
.main-nav
{
    display: inline-block;
}
.container-up
{
    display: flex;
    background-color: rgb(253, 255, 237);
    margin-bottom: 10px;
}
