.container-right
{
    position:sticky;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: auto;
    padding-left: 30px;
    margin-left: 20px;
    border:solid 1px red;
}

.title
{
    flex-direction: row;
    font-weight:bold;
    font-size:large;
    display: flex;
    text-align: left;
    margin-block: 10px;
}

.button
{
    border-style: solid;
    border-radius: 20px 20px 22px 22px;
    border-color:#4a71b6;
    flex-direction: row;
    padding: 10px 12px 10px 12px;
    font-size: medium;
    color:#1a60d9;
    background-color: #ffffff;
}