.container-right
{
    display:flexbox;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: auto;
    padding-left: 30px;
    margin-left: 970px;
    margin-top: 10px;
}

.title
{
    flex-direction: row;
    font-weight:bold;
    font-size:large;
    display: flex;
    text-align: left;
    margin-block: 10px;
}

.button
{
    border: 2px;
    border-color:#4a71b6;
    flex-direction: row;
    margin-right: 0px;
}